* {
    margin: 0px;
    padding: 0px;
}
#container {
    width: 970px;
    padding: 15px;
}
h1 {
    margin-left: 240px;
}
table {
    width: 50%;
    min-height: 50px;
    margin: 15px auto;
    border: 1px solid black;
    text-align: left;
}
th {
    background: lightgray;
}
td {
    width: 25%;
}
h2 {
    margin-left: 240px;
}
form {
    width: 50%;
    margin: 15px auto;
}
input {
    margin-top: 10px;
}